 
# Pastas de build
build/
main/build/

# Configurações locais (geradas automaticamente pelo idf.py)
sdkconfig.old
sdkconfig.defaults

# Arquivos temporários do VSCode/CLion/etc
.vscode/
.idea/

# Arquivos de log
*.log

# Arquivos temporários do sistema
*.swp
*.swo
*.tmp
.DS_Store
